{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}
{% block header %}{% endblock %}
{% block body %}
	<header class="home">
		<div class="position-absolute top-50 start-50 translate-middle fs-1">
			<div class="logo"></div>
			<img src="{{ asset('build/images/logo-dark.png')}}">
			<h1 class="fw-bold center">Interne</h1>
		</div>
	</header>
{% endblock %}
