{% extends 'admin/adminLayout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('styleAdmin') }}
{% endblock %}


{% block title %}Modifier une catégorie
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="text-center text-primary fw-bold my-5">Modifier une catégorie</h1>


		{{ include('admin/admin_category/_form.html.twig', {'button_label': 'Modifier'}) }}

		<a class="btn btn-primary mt-3 px-3 rounded-pill text-tertiary bg-primary fw-bold" href="{{ path('admin_category_index') }}">Retour</a>


	</div>
{% endblock %}
