{% extends 'admin/adminLayout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('styleAdmin') }}
{% endblock %}


{% block title %}Ajouter une nouvelle catégorie
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="text-primary fw-bold py-5">Ajouter une catégorie</h1>


		{{ include('admin/admin_category/_form.html.twig') }}

		<a class="btn btn-primary mt-3 px-3 rounded-pill text-tertiary bg-primary fw-bold" href="{{ path('admin_category_index') }}">Retour</a>


	</div>
{% endblock %}
