{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('reset-password') }}
{% endblock %}

{% block title %}Email de réinitialisation du mot de passe envoyé{% endblock %}

{% block body %}
<div class="container text-center my-5">
    <p class="mb-1">
        Si un compte correspond à cette adresse, un e-mail contenant un lien de réinitialisation du mot de passe va vous être envoyé.
    </p>
    <p class="mb-1">
        Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
        <p class="gap-5">Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou </p>
        <a class="btn btn-light px-3 rounded-pill text-primary fw-bold" href="{{ path('app_forgot_password_request') }}">Réessayer</a>
</div>
{% endblock %}
