{% extends 'admin/adminLayout.html.twig' %}

{% block title %}Accueil Admin
{% endblock %}


{% block body %}
	<main class="text-center" style="display: flex; align-items: center; justify-content: center;">
		<h1 class="fw-bold display-4 ">Bienvenue sur la page Admin</h1>
	</main>
{% endblock %}
