.decision {

    .container {
        width: 80%;
    }

    .card-body {
        padding: 0;

        .card-main {
            background-image: url('../images/card.png');
            background-position: center;

            .img {
                width: 90px;
            }
        }

        .img1 {
            background-image: url('../images/environement.jpg');
            background-size: cover;
            height: 10rem;
            padding: 0;
            border-top-left-radius: 0.2rem;
            border-top-right-radius: 0.2rem;
        }

        .img {
            top: -45px;
        }

        .card-title {
            height: 6rem;
        }
    }
}

.form-class {
    width: 80%;
}

.nav-decision {
    position: sticky;
    top: 20px;
}