.navbar-brand {
    font-family: $font-title;
}

.link {
    font-family: $font-title;
    border: 1px solid $tertiary;
    border-radius: 2rem;

}

.link:hover {
    border: 1px solid $secondary;
    border-radius: 2rem;
}

.bell {
    transition: 0.4s;
}

.bell:hover {
    transition: 0.25s;
    transform: rotate(8deg);
}

.notif {
    max-width: 20rem;
}

.navbar {
    .img-profile {
        width: 60px;
    }

    .profile {
        .dropdown-item {
            color: $primary;
        }

        .dropdown-item:hover {
            background-color: $primary;
            color: $tertiary;
        }
    }

}

.notif-impacted, .notif-expert {
    font-family: $font-text;
    background-color: transparentize($secondary, 0.85);
    border: 1px solid $secondary;
}

.notif-impacted:hover, .notif-expert:hover {
    background-color: transparentize($secondary, 0.75);
}

.type, .read {
    font-family: $font-text;
}