.navbar-brand {
    font-family: $font-title;
}

.link {
    font-family: $font-title;
    border: 1px solid $tertiary;
    border-radius: 2rem;

}

.link:hover {
    border: 1px solid $secondary;
    border-radius: 2rem;
}

.bell {
    transition: 0.4s;
}

.bell:hover {
    transition: 0.25s;
    transform: rotate(8deg);
}

.navbar {
    border-bottom: 4px solid $primary;
}

.notif {
    width: 20rem;
}

