@import "variables";

.text_primary {
  margin: 20px 0;
}

.table> :not(caption)>*>th {
  background-color: $danger;
}

  .table > :not(caption) > * > th {
    background-color: $fourthly; 
    font-family: $font-title;
    color: white;
  }
.table-header-fixed {
    border-collapse: separate;
    border-spacing: 0 1px;
  }

  .table-header-fixed thead tr {
    position: sticky;
    vertical-align: middle;
    top: 0;
    height: 60px; 
    font-family: $font-text;
  }

  .table-header-fixed tbody td {
    vertical-align: middle;
    font-family: $font-text;
}
