@import "variables";

.text_primary {
    margin: 20px 0;
  }

  .table > :not(caption) > * > th {
    background-color: $danger; 
  }
.table-header-fixed {
    border-collapse: separate;
    border-spacing: 0 10px;
  }

  .table-header-fixed thead tr {
    position: sticky;
    top: 0;
  }
