main{
    background-image: url('../images/mapCreme.png');
    background-position: center top 20px;
    background-repeat: no-repeat;
    background-size: contain;
    height :80vh;
    
  
}
.navbar{
    border-bottom: 4px solid #FFF30D;
}


