.home {
    background-image: url('../images/map.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    // background-size: contain;
    min-height: 100vh;
    overflow: auto;

    .vedette {

        .pastille {
            position: relative;
            display: inline-flex;
            align-items: center;
            text-align: center;
        }

        .pastille::after {
            content: "";
            position: absolute;
            background-color: #FFF30D;
            width: 20px;
            height: 10px;
            border-radius: 40%;
            top: 84px;
            left: -4px;
        }
    }

    .container {
        width: 80%;
    }

    .card-body {

        .img1 {
            background-image: url('../images/environement.jpg');
            background-size: cover;
            height: 10rem;
            padding: 0;
            border-top-left-radius: 0.2rem;
            border-top-right-radius: 0.2rem;
        }

        .img {
            top: -65px;
        }
    }
}