header {
    .home {
        background-image: url('../images/map.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-attachment: fixed;
        height: 100vh;
    }

}

main {
    .home {
        background-image: url('../images/map.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-attachment: fixed;
        height: 200vh;
    }
}