@import "variables";

h1 {
    font-family: $font-title;
}

label, small, p {
    font-family: $font-text;
    color: $primary;
    font-weight: 600;
}

.btn {
    font-family: $font-title;
    outline-offset: 6px;
    outline: 1px solid $secondary;
    box-shadow: 0 0 8px 0 transparentize($dark, 0.5);
}

.form-control {
    border: 2px solid $secondary;
    background-color: transparentize($secondary, 0.90);
    box-shadow: 0 0 5px 0 transparentize($dark, 0.5);
}

form {
    width: 500px;
}
