@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
$primary: #16434E;
$secondary: #C1E94E;
$tertiary: #FFFAF6;
$light: #FFFAF6;
$dark: #0e0e0e;
$danger: #C10B63;
$font-title: "Raleway";
$font-text: "Lato";
$font-weight-bold: 800;

body {
    background-color: $tertiary;

    h1 {
        color: $primary;
        font-family: $font-title;
    }
}