@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
$primary: #16434E;
$secondary: #C1E94E;
$tertiary: #FFFAF6;
$light: #FFFAF6;
$dark: #0e0e0e;
$danger: #C10B63;
$font-title: "Raleway";
$font-text: "Lato";
$font-weight-bold: 800;
$pills: #fcf239;
$fourthly: #196C84;

body {
    background-color: $tertiary;
    min-height: 100vh;

    h1 {
        color: $primary;
        font-family: $font-title;
    }
}

main {
    min-height: 80vh;
}

.title {
    .pastille {
        position: relative;
        display: inline-flex;
        align-items: center;
        text-align: center;
    }

    .pastille::after {
        content: "";
        position: absolute;
        background-color: #FFF30D;
        width: 20px;
        height: 10px;
        border-radius: 40%;
        top: 0;
        left: -10px;

    }
}

.vertical-line {
    border-left: 2px solid $primary;
    display: inline-block;
    height: 3rem;
}

.form-decision {
    width: 70%;
}

.nav-decision {
    z-index: 2;
    position: relative;
}

.footer {
    z-index: 2;
    position: relative;
    background-color: $tertiary;

    img {
        width: 80%;
    }

}