{{ form_start(form) }}
    {{ form_widget(form) }}

    <button  class="btn btn-light text-primary my-2 border border-secondary rounded-pill">{{ button_label|default('Soumettre la décision') }}</button>
{{ form_end(form) }}
