{% extends 'base.html.twig' %}

{% block title %}Modifier décision
{% endblock %}

{% block body %}
	<h1 class="text-primary text-center fw-bold fs-1 my-5">Modifier ma décision</h1>
	<div class="container mb-3">
		{{ include('decision/_delete_form.html.twig') }}
	</div>
	<div class="container bg-light rounded  p-4">
		{{ include('decision/_form.html.twig', {'button_label': 'Mise à jour'}) }}
	</div>
	<div class="container mt-3">
		<a href="{{ path('app_decision_index') }}" class="my-3 btn btn-outline-primary rounded-pill">Retour à la liste</a>
	</div>

{% endblock %}
