{% extends 'base.html.twig' %}

{% block title %}Edit Decision
{% endblock %}

{% block body %}
<h1 class="text-primary text-center fw-bold fs-1 my-5">Modifier ma décision</h1>
	{{ include('decision/_delete_form.html.twig') }}
	<div class="container bg-primary rounded shadow p-4">
	

		{{ include('decision/_form.html.twig', {'button_label': 'Update'}) }}
</div>
		<a href="{{ path('app_decision_index') }}" class="my-3 btn btn-outline-primary rounded-pill">Retour a la liste</a>

		
	
{% endblock %}
