{% extends 'base.html.twig' %}

{% block title %}Ajouter nouvelle décision
{% endblock %}

{% block body %}
	<h1 class="text-center text-primary my-5">Créer une nouvelle décision</h1>
	<div class="container bg-light p-4 rounded">
		{{ include('decision/_form.html.twig') }}
	</div>
	<div class="container">
		<a class="btn btn-primary mb-5 mt-3" href="{{ path('app_decision_index') }}">Retour a la liste</a>
	</div>
{% endblock %}
