{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('addDecision') }}
{% endblock %}

{% block title %}
	Ajouter une décision
{% endblock %}

{% block body %}
	<h1 class="text-center fw-bold mt-5">Ajouter une nouvelle décision</h1>
	<div class="container p-5 rounded">
		{{ include('decision/_form.html.twig') }}
		<div class="container px-0">
			<a class="btn btn-light mt-3 px-3 rounded-pill text-tertiary bg-primary fw-bold" href="{{ path('status_home') }}">Retour</a>
		</div>
	</div>
{% endblock %}
