<p>Vous ne pouvez échapper à l'impact considérable engendré par cette décision prise, qui a inévitablement des répercussions sur vous.</p>
<h3>{{decision.title}}</h3>
<p>
    <a href="http://localhost:8000{{ path('app_decision_show', {'id': decision.id}) }}">Clique ici pour accéder a la décision!</a>
</p>
