<p>Vous êtes un expert de cette nouvelle décision, avec une compréhension approfondie de ses implications et de son impact.</p>
<h3>{{decision.title}}</h3>
<p>
    <a href="http://localhost:8000{{ path('app_decision_show', {'id': decision.id}) }}">Clique ici pour accéder a la décision!</a>
</p>

