<h1 class="text-center fw-bold fs-1 my-5">
	Les décisions
</h1>
<nav class="decision-navbar navbar navbar-expand-lg bg-none">
	<div class="container bg-none">
		{% for status in statuses %}
			<div class="navabar-button collapse navbar-collapse mx-auto d-flex d-grid gap-2 justify-content-center mb-5 fw-semibold"></li>
			<div class="nav-item">
				<a class="link nav-link fw-bold text-primary p-2 px-3" href="{{ path('status_decision', {'id': status.id}) }}">{{ status.name }}</a>
			</div>
		</div>
	{% endfor %}
</nav>
