<h1 class="text-center fw-bold fs-1 my-5">
	Les décisions
</h1>
<div class="navbar-button mx-auto d-flex d-grid gap-2 justify-content-center mb-5">
	{% for status in statuses %}
		<button type="button" class="btn btn-outline-primary rounded-pill">{{ status.name }}</button>
	{% endfor %}
</div>

<nav class="navbar navbar-expand-lg bg-none">
	<div class="container bg-none">
		<div class="collapse navbar-collapse  justify-content-end fw-semibold" id="navbarNav"></li>
		<div class="nav-item">
			<a class="link nav-link fw-bold text-tertiary px-3" href="#">Ajouter une décision</a>
		</div>
		<div class="nav-item">
			<a class="link nav-link text-tertiary fw-bold px-3" href="#">Mes décisions</a>
		</div>
	</div>
</nav>
