<div class="container">
	<footer class="footer row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 border-top border-primary border-3">
		<div class="col mb-3">
			<a href="https://makesense.org/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
				<img src="{{ asset('build/images/logo-dark.png')}}" class="my-2" style="width:60%;" alt="logo"></a>
		</div>
		<div class="col mb-3"></div>
		<div class="col mb-3">
			<h5 class="fw-bold text-primary">Nous contacter</h5>
			<ul class="nav flex-column">
				<li class="nav-item mb-2">
					<a href="https://makesense.org/contact/#france" class="fw-bold text-primary nav-link p-0 text-muted">Sans frontières</a>
				</li>
			</ul>
		</div>
		<div class="col mb-3">
			<h5 class="fw-bold text-primary">Se rencontrer</h5>
			<ul class="nav flex-column">
				<li class="nav-item mb-2">
					<p class="fw-bold text-primary nav-link p-0 text-muted m-0">36 rue Etienne Dolet</p>
				</li>
				<li class="nav-item mb-2">
					<p class="fw-bold text-primary nav-link p-0 text-muted m-0">75020 Paris</p>
				</li>
				<li class="nav-item mb-2">
					<p class="fw-bold text-primary nav-link p-0 text-muted m-0">France</p>
				</li>
			</ul>
		</div>
		<div class="col mb-3">
			<h5 class="fw-bold text-primary">À l'international</h5>
			<ul class="nav flex-column">
				<li class="nav-item mb-2">
					<a href="https://africa.makesense.org/" class="fw-bold text-primary nav-link p-0 text-muted">Afrique de l'Ouest</a>
				</li>
				<li class="nav-item mb-2">
					<a href="https://americas.makesense.org/" class="fw-bold text-primary nav-link p-0 text-muted">Amériques</a>
				</li>
				<li class="nav-item mb-2">
					<a href="https://france.makesense.org/" class="fw-bold text-primary nav-link p-0 text-muted">France</a>
				</li>
				<li class="nav-item mb-2">
					<a href="https://philippines.makesense.org/" class="fw-bold text-primary nav-link p-0 text-muted">Philippines</a>
				</li>
				<li class="nav-item mb-2">
					<a href="https://lebanon.makesense.org/" class="fw-bold text-primary nav-link p-0 text-muted">Liban</a>
				</li>
			</ul>
		</div>


	</footer>
</div>
