{% if workflowName is not null and workflow_can(decision, workflowName) %}
	<form method="post" action="{{ path('app_change', {'id': decision.id, 'toStatus': workflowName}) }}" >
		<input type="hidden" name="_token" value="{{ csrf_token('workflow_change' ~ decision.id) }}">
		<div class="text-end">

			<button class="btn btn-light text-primary my-2 border border-secondary bg-white fw-bold rounded-pill mt-5">
				{% if constant('App\\Entity\\Decision::WORKFLOWS')[workflowName] is defined %}
					{{ constant('App\\Entity\\Decision::WORKFLOWS')[workflowName] }}
				{% endif %}
			</button>

		</div>
	</form>
{% endif %}


