<div{{attributes}}>
	{% if hasVoted == false %}
		{% if decision.status == 'Prise de décision commencée' and app.user != decision.user or decision.status == 'Décision définitive' and app.user != decision.user %}
			<div class=" d-flex">
				<button type="button" class="btn btn-primary m-4 px-3 rounded-pill text-tertiary bg-primary fw-bold" data-action="live#action" data-action-name="voted(direction=up)">
					{% include 'icons/like.svg' %}
					<i class="bi bi-check-square-fill"></i>
				</button>
				<button type="button" class="btn btn-primary m-4 px-3 rounded-pill text-tertiary bg-primary fw-bold" data-action="live#action" data-action-name="voted(direction=down)">
					{% include 'icons/dislike.svg' %}
					<i class="bi bi-x-square-fill"></i>
				</button>
			</div>
		{% endif %}
	{% endif %}
	<div class=" d-flex">
		<p class="mx-3">vote pour
			{{ this.decision.votes|filter(vote => vote.voting == 1)|length }}</p>
		<p class="mx-3">Vote contre
			{{ this.decision.votes|filter(vote => vote.voting == -1)|length }}</p>
	</div>
</div>
