<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Activation du compte</title>
	</head>
	<body>
		<h1>Votre compte a été activé</h1>
		<p>Bonjour,
			{{ user.firstname }}
			{{ user.lastname }}</p>
		<p>Votre compte MAKE SENSE a été activé par l'administrateur. Vous pouvez maintenant vous connecter en utilisant le lien ci-dessous :</p>
		<p>
			<a href="http://localhost:8000/connexion">lien vers la page de connexion</a>
		</p>

		<p>Cordialement,</p>
		<p>L'équipe de MakeSense</p>
	</body>
</html>
